.btn-1 {
  background: #007fff;
  color: white;
  font-family: Impact;
  padding: 3px 10px 3px 10px;
  border-radius: 15px;
  border: none;
  font-size: 25px
}
.txt-1 {
    font-family: Impact;
    font-size: 25px
}
