@import url('https://fonts.googleapis.com/css?family=Asap');

* {
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#name {
  color: #272e38;
  font-size: 55px;
  font-weight: bold;
  text-decoration: none;
}

body {
  background-color: #272e38;
}

header {
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 20px;
}

header > ul {
  text-align: center;
}

header > ul > li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

header > ul > a {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
}

header > ul > li > a {
  text-decoration: none;
  color: #272e38;
  font-size: 40px;
  font-weight: bold;
}

#active {
  text-decoration: underline;
  color: #272e38;
  font-size: 45px;
  font-weight: bold;
}

#out {
  color: white;
  padding: 5px;
}

#sb {
  margin-left: 20px;
  margin-right: 10px;
}
