@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Roboto+Mono&display=swap');

body {
  background-color: #1e1e1e;
  padding: none;
}

header {
  background-color: #2a2a2a;
  padding: none;
  text-align: center;
}

#navlist {
  list-style: none;
  padding: none;
  margin: none;
}

.navitem {
  color: #F6F6F6;
  font-size: 30px;
  font-family: 'Roboto Mono';
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
}

#title {
  color: #F6F6F6;
  font-size: 60px;
  font-family: 'Baloo Chettan 2';
  margin-left: none;
}
